body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

.difficulty-options {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s; 
}

.btn:hover {
    background-color: #2980b9;
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.instructions {
    background-color: aqua;
}
